@import "/css/global.css";
@import "/css/card.css";
@import "/css/answerButton.css";

.answerButton {
  width: fit-content;
  align-self: center;
  font-size: large;
}

.answerButton:hover {
  background-color: red;
}

.flexTag {
  display: flex;
  gap: 20px;
}

.tag {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: small;
}
