.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bookmark1 {
  position: relative;
}

.bookmark-click {
  position: absolute;
  right: -2.5%;
  bottom: -35px;
  font-size: 30px;
}

.bookmark:hover {
  background-color: red;
}

.flexTag {
  display: flex;
  gap: 20px;
}

.tag {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: small;
}
